{% extends "foods/base.html" %}
{% load i18n %}
{% block title %}{% trans "Foods-Dish" %}{% endblock %}
{% block search %}
{% trans "Search" as search %}
<form class="form-inline my-2 my-lg-0" action="{% url 'dish_search' %}" method="GET">
    <input required class="form-control mr-sm-2" type="text" placeholder={{search}} aria-label={{search}}
           name="query" value="{{ query }}">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">{{search}}</button>
</form>
{% endblock %}
{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="text-center">
            <h2>{% trans "Dishes" %}</h2>
        </div>

        <div class="row">
            {% if dishes %}
            {% for dish in dishes %}

            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    {% if dish.img %}
                    <svg width="400" height="300" viewBox="0 0 600 700" preserveAspectRatio="none"
                         class="bd-placeholder-img card-img-top"
                         focusable="false"
                         role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title>
                        <image xlink:href="{{ dish.img.url }}" clip-path="url(#circleView)"/>
                    </svg>
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ dish.name }}</h5>
                        <p class="card-text">{{ dish.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">

                            <div class="btn-group">
                                <a href="{% url 'dish_view' dish.id %}" class="btn btn-sm btn-outline-secondary"
                                   role="button" aria-pressed="true"><i class="fa fa-eye" aria-hidden="true"></i>
                                    {% trans "View" %}</a>
                                <a href="{% url 'dish_edit' dish.id %}" class="btn btn-sm btn-outline-secondary"
                                   role="button" aria-pressed="true"><i class="fa fa-pencil" aria-hidden="true"></i>
                                    {% trans "Edit" %}</a>
                            </div>
                        </div>
                        <hr>
                        <p>
                            <small class="text-muted">{% trans "Author:" %} {{ dish.author }}</small>
                            <br>
                            <small class="text-muted">{% trans "Created:" %} {{ dish.created_on }}</small>
                        </p>
                    </div>
                </div>
            </div>

            {% endfor %}
            {% else %}
            <p>{% trans "No dishes match your search criteria." %}</p>
            {% endif %}

        </div>
    </div>
</div>
{% endblock %}




