{% extends "foods/base.html" %}
{% load i18n %}
{% block title %}{% trans "Foods-Dish-View" %}{% endblock %}

{% block content %}

{% if dish %}

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-8 blog-main">
                <h3 class="pb-3 mb-4 font-italic border-bottom">{{ dish.name }}</h3>

                <div class="blog-post">
                    {% if dish.img %}
                    <img src="{{ dish.img.url }}" class="rounded mx-auto d-block img-fluid" alt="{ dish.name }}"
                         width="460" height="345"><br>
                    {% endif %}
                    <h3 class="blog-post-title">{% trans " Dish info:" %}</h3>
                    <p class="blog-post-meta">{{ dish.created_on }} {% trans "by" %} <a href="#">{{ dish.author }}</a></p>
                    <hr>
                    <p>{{ dish.description }}</p>
                    {% if ingredients %}
                    <hr>
                    <p>{% trans "Ingredients:" %}</p>
                    <div class="row align-items-end">
                        <div class="col-md-12 mb-4">
                            <div class="list-group">
                                {% for ingredient in ingredients %}
                                <a href="{% url 'ingredient_view' ingredient.id %}"
                                   id="{{ingredient.id}}_ingredient_view"
                                   class='list-group-item list-group-item-action d-flex align-items-center
                                   justify-content-between'><span>{{ingredient.name}}:</span>
                                    <span class='badge badge-primary badge-pill'>
                                        {{ingredient.quantity}} {{ingredient.unit}}</span></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="#">{% trans "Older" %}</a>
                    <a class="btn btn-outline-secondary disabled" href="#">{% trans "Newer" %}</a>
                </nav>

            </div>

        </div>

    </div>
</div>

{% else %}
<p>{% trans "Dish is not found." %}</p>
{% endif %}

{% endblock %}