{% extends "foods/base.html" %}
{% load i18n %}
{% block title %}{% trans "Foods-Dish-Add" %}{% endblock %}
{% block content %}

<div class="container">

    <div class="py-5 text-center">
        <h2>{% trans "Dish form" %}</h2>
        <p class="lead">{% trans "Below is a form in which you can add a new dish." %}</p>
    </div>

    <div class="row">

        <div class="col-md-12 col-xs-12 col-centered">
            <hr class="mb-4">
            <h4 class="mb-3">{% trans "Dish details:" %}</h4>
            <p class="text-muted">{% trans "Required Field *" %}</p>

            <form class="needs-validation" id="dish_add_form" action="{% url 'dish_add' %}"
                  method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    {% trans "Name" as name %}
                    <label for="{{ form.name.id }}">{% trans "Dish Name *" %}</label>
                    <input required type="text" class="form-control" name="{{ form.name.name }}" id="{{ form.name.id }}"
                           placeholder={{name}}
                           form="dish_add_form">
                </div>

                <div class="mb-3">
                    <label for="{{ form.img.id }}">{% trans "Dish Image *" %}</label>
                    <div class="custom-file">
                        <input required type="file" accept="image/*" class="custom-file-input"
                               name="{{ form.img.name }}"
                               id="{{ form.img.id }}" form="dish_add_form">
                        <label class="custom-file-label" for="{{ form.img.id }}">{% trans "Choose Image" %}</label>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="{{ form.description.id }}">{% trans "Dish Description *" %}</label>
                    <textarea required class="form-control" name="{{ form.description.name }}"
                              id="{{ form.description.id }}"
                              rows="3" form="dish_add_form"></textarea>
                </div>

                <div class="mb-3">
                    <label class="mr-sm-2" for="{{ form.section.id }}">{% trans "Section *" %}</label>
                    <select required class="custom-select mr-sm-2" name="{{ form.section.name }}"
                            id="{{ form.section.id }}"
                            form="dish_add_form">
                        <option selected disabled value="">{% trans "Choose dish section..." %}</option>
                        {% if sections %}
                        {% for section in sections %}
                        <option value="{{ section.id }}">{{ section.name }}</option>
                        {% endfor %}
                        {% endif %}
                    </select>
                </div>

                <hr class="mb-4">
                <h4 class="mb-3">{% trans "Ingredients details:" %}</h4>

                <div class="row align-items-end" id="dish_ingredient_add_div">
                    <div class="col-md-4 mb-4">
                        <label for="dish_ingredient">{% trans "Ingredient | Unit " %}<span
                                class="text-muted">{% trans "(Optional)" %}</span></label>
                        <select class="custom-select d-block w-100" name="dish_ingredient" id="dish_ingredient"
                                form="dish_add_form">
                            <option selected disabled value="">{% trans "Choose dish ingredient..." %}</option>
                            {% if ingredients %}
                            {% for ingredient in ingredients %}
                            <option value="{{ ingredient.id }}">{{ ingredient.name }} | {{ ingredient.unit }}</option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <div class="col-md-4 mb-4">
                        {% trans "Quantity" as quantity %}
                        <label for="dish_ingredient_quantity">{% trans "Quantity " %}<span
                                class="text-muted">{% trans "(Optional)" %}</span></label>
                        <input type="number" min="10" max="9999" class="form-control"
                               id="dish_ingredient_quantity" value="" name="dish_ingredient_quantity"
                               placeholder={{quantity}}
                               form="dish_add_form">
                    </div>
                    <input type="hidden" id="dish_ingredient_add_hidden" name="dish_ingredient_add_hidden"
                           form="dish_add_form">
                </div>

                <div class="mb-3">
                     <div class="d-flex justify-content-center">
                        <button type="submit" id="dish_ingredient_submit_btn" class="btn btn-primary">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>{% trans " Add ingredient" %}
                        </button>
                    </div>
                </div>

                <div class="list-group" id="ingredient_list_div">
                    <!--div for selected ingredients-->
                </div>

                <hr class="mb-4">

                <button id="add_dish_btn" class="btn btn-primary btn-lg btn-block" type="submit" form="dish_add_form">
                    {% trans "Add dish" %}</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}