{% extends "foods/base.html" %}
{% block title %}Foods-Home{% endblock %}
{% block jumbotron %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Welcome to Foods App!</h1>
            <p>Here you can select and order ingredients.</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
    </div>
    {% endblock %}
{% block content %}


<p>Main home page.</p>

{% endblock %}


