{% extends "foods/base.html" %}
{% load i18n %}
{% block title %}{% trans "Foods-Home" %}{% endblock %}

{% block jumbotron %}
<div class="jumbotron">

    <h1 class="display-4">{% trans "Welcome to Foods App!" %}</h1>
    <p class="h2">{% trans "Here you can select and order ingredients." %}</p>

</div>
{% endblock %}
{% block carousel %}
{% if dishes.8.name %}
<div class="album py-5 bg-dark">
<div class="container">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <!--First slide-->
        <div class="carousel-item active">

            <div class="row">

                <div class="col-md-12">

                    <div class="card-deck">
                        <div class="card text-white bg-secondary border-light">
                            <img class="card-img-top" src="{{ dishes.0.img.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ dishes.0.name }}</h5>
                                <p class="card-text">{{ dishes.0.description }}</p>
                            </div>
                            <div class="card-footer text-white bg-dark">
                                <small class="text-muted">{% trans "Last updated" %}</small>
                            </div>
                        </div>
                        <div class="card text-white bg-secondary border-light">
                            <img class="card-img-top" src="{{ dishes.1.img.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ dishes.1.name }}</h5>
                                <p class="card-text">{{ dishes.1.description }}</p>
                            </div>
                            <div class="card-footer text-white bg-dark">
                                <small class="text-muted">{% trans "Last updated" %}</small>
                            </div>
                        </div>
                        <div class="card text-white bg-secondary border-light">
                            <img class="card-img-top" src="{{ dishes.2.img.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ dishes.2.name }}</h5>
                                <p class="card-text">{{ dishes.2.description }}</p>
                            </div>
                            <div class="card-footer text-white bg-dark">
                                <small class="text-muted">{% trans "Last updated" %}</small>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!--/.First slide-->

        <!--Second slide-->
        <div class="carousel-item">
            <div class="row">

                <div class="col-md-12">

                    <div class="card-deck">
                        <div class="card text-white bg-secondary border-light">
                            <img class="card-img-top" src="{{ dishes.3.img.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ dishes.3.name }}</h5>
                                <p class="card-text">{{ dishes.3.description }}</p>
                            </div>
                            <div class="card-footer text-white bg-dark">
                                <small class="text-muted">{% trans "Last updated" %}</small>
                            </div>
                        </div>
                        <div class="card text-white bg-secondary border-light">
                            <img class="card-img-top" src="{{ dishes.4.img.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ dishes.4.name }}</h5>
                                <p class="card-text">{{ dishes.4.description }}</p>
                            </div>
                            <div class="card-footer text-white bg-dark">
                                <small class="text-muted">{% trans "Last updated" %}</small>
                            </div>
                        </div>
                        <div class="card text-white bg-secondary border-light">
                            <img class="card-img-top" src="{{ dishes.5.img.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ dishes.5.name }}</h5>
                                <p class="card-text">{{ dishes.5.description }}</p>
                            </div>
                            <div class="card-footer text-white bg-dark">
                                <small class="text-muted">{% trans "Last updated" %}</small>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!--/.Second slide-->

        <!--Third slide-->
        <div class="carousel-item">
            <div class="row">

                <div class="col-md-12">

                    <div class="card-deck">
                        <div class="card text-white bg-secondary border-light">
                            <img class="card-img-top" src="{{ dishes.6.img.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ dishes.6.name }}</h5>
                                <p class="card-text">{{ dishes.6.description }}</p>
                            </div>
                            <div class="card-footer text-white bg-dark">
                                <small class="text-muted">{% trans "Last updated" %}</small>
                            </div>
                        </div>
                        <div class="card text-white bg-secondary border-light">
                            <img class="card-img-top" src="{{ dishes.7.img.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ dishes.7.name }}</h5>
                                <p class="card-text">{{ dishes.7.description }}</p>
                            </div>
                            <div class="card-footer text-white bg-dark">
                                <small class="text-muted">{% trans "Last updated" %}</small>
                            </div>
                        </div>
                        <div class="card text-white bg-secondary border-light">
                            <img class="card-img-top" src="{{ dishes.8.img.url }}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">{{ dishes.8.name }}</h5>
                                <p class="card-text">{{ dishes.8.description }}</p>
                            </div>
                            <div class="card-footer text-white bg-dark">
                                <small class="text-muted">{% trans "Last updated" %}</small>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
        <!--/.Third slide-->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">{% trans "Previous" %}</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">{% trans "Next" %}</span>
        </a>
    </div>
</div>
</div>
</div>
{% endif %}
{% endblock %}

{% block content %}
{% endblock %}


