{% extends "foods/base.html" %}
{% load i18n %}
{% block title %}{% trans "Foods-Ingredient-Add" %}{% endblock %}
{% block content %}

<div class="container">
    <div class="py-5 text-center">
        <h2>{% trans "Ingredient form" %}</h2>
        <p class="lead">{% trans "Below is a form in which you can add a new ingredient." %}</p>
    </div>

    <div class="row">

        <div class="col-md-12 col-xs-12 col-centered">
            <hr class="mb-4">
            <h4 class="mb-3">{% trans "Ingredient details:" %}</h4>
            <p class="text-muted">{% trans "Required Field *" %}</p>

            <form class="needs-validation" id="ingredient_add_form" action="{% url 'ingredient_add' %}"
                  method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    {% trans "Name" as name %}
                    <label for="{{ form.name.id }}">{% trans "Ingredient Name *" %}</label>
                    <input required type="text" class="form-control" name="{{ form.name.name }}" id="{{ form.name.id }}"
                           placeholder={{name}}
                           form="ingredient_add_form">
                </div>

                <div class="mb-3">
                    <label for="{{ form.img.id }}">{% trans "Ingredient Image *" %}</label>
                    <div class="custom-file">
                        <input required type="file" accept="image/*" class="custom-file-input"
                               name="{{ form.img.name }}"
                               id="{{ form.img.id }}" form="ingredient_add_form">
                        <label class="custom-file-label" for="{{ form.img.id }}">{% trans "Choose Image" %}</label>
                    </div>
                </div>

                <div class="row align-items-end">
                    <div class="col-md-3 mb-4">
                        {% trans "Cost" as cost %}
                        <label for="{{ form.cost.id }}">{% trans "Ingredient Cost *" %}
                            <small class="text-muted">UAH</small>
                        </label>
                        <input required type="number" min="0" max="9999" step="0.05" class="form-control"
                               id="{{ form.cost.id }}" name="{{ form.cost.name }}" placeholder={{cost}}
                               form="ingredient_add_form">
                    </div>
                    <div class="col-md-3 mb-4">
                        <span class="text-muted">{% trans " per : " %}</span>
                    </div>
                    <div class="col-md-3 mb-4">
                        {% trans "Quantity" as quantity%}
                        <label for="{{ form.quantity.id }}">{% trans "Quantity" %}</label>
                        <input readonly type="number" min="10" max="9999" step="10" class="form-control"
                               id="{{ form.quantity.id }}" name="{{ form.quantity.name }}"
                               value="{{ form.quantity.value }}" placeholder={{quantity}}
                               form="ingredient_add_form">
                    </div>

                    <div class="col-md-3 mb-4">
                        <label class="mr-sm-2" for="{{ form.unit.id }}">{% trans "Ingredient Unit *" %}</label>
                        <select required class="custom-select mr-sm-2" name="{{ form.unit.name }}"
                                id="{{ form.unit.id }}"
                                form="ingredient_add_form">
                            <option selected disabled value="">{% trans "Choose ingredient unit..." %}</option>
                            <option value="gr">{% trans "gr" %}</option>
                            <option value="ml">{% trans "ml" %}</option>

                        </select>
                    </div>

                </div>

                <hr class="mb-4">

                <button class="btn btn-primary btn-lg btn-block" type="submit" form="ingredient_add_form">
                    {% trans "Add ingredient" %}
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}