{% extends "foods/base.html" %}
{% load i18n %}
{% block title %}{% trans "Foods-Ingredient-View" %}{% endblock %}

{% block content %}

{% if ingredient %}

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-8 blog-main">
                <h3 class="pb-3 mb-4 font-italic border-bottom">{{ ingredient.name }}</h3>

                <div class="blog-post">
                    {% if ingredient.img %}
                    <img src="{{ ingredient.img.url }}" class="rounded mx-auto d-block img-fluid"
                         alt="{ ingredient.name }}"
                         width="460" height="345"><br>
                    {% endif %}
                    <h3 class="blog-post-title">{% trans " Ingredient info:" %}</h3>
                    <p class="blog-post-meta">{{ ingredient.created_on }} {% trans "by" %} <a href="#">{{ ingredient.author }}</a></p>
                    <hr>
                    <h3>{% trans "Cost:" %} {{ingredient.cost}} <span class="text-muted">(UAH)</span>{% trans " per" %} {{ingredient.quantity}}
                        {{ingredient.unit}}.</h3>
                </div>

                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="#">{% trans "Older" %}</a>
                    <a class="btn btn-outline-secondary disabled" href="#">{% trans "Newer" %}</a>
                </nav>

            </div>

        </div>

    </div>
</div>

{% else %}
<p>{% trans "Ingredient is not found." %}</p>
{% endif %}

{% endblock %}