{% extends "foods/base.html" %}
{% load i18n %}
{% block title %}{% trans "Foods-Cart-View" %}{% endblock %}
{% block content %}

<div class="container">

    <div class="py-5 text-center">
        <h2>{% trans "Order form" %}</h2>
        <p class="lead">{% trans "Below is a form in which you can place an order." %}</p>
    </div>

    <div class="row">

        <div class="col-md-12 col-xs-12 col-centered">
            <hr class="mb-4">
            <h4 class="mb-3">{% trans "Customer details:" %}</h4>
            <p class="text-muted">{% trans "Required Field *" %}</p>

            <form class="needs-validation" id="order_add_form" action="{% url 'order_add' %}"
                  method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row align-items-end">
                    <div class="col-md-6 mb-4">
                        {% trans "Name" as name %}
                        <label for="customer_full_name">{% trans "Customer Full Name *" %}</label>
                        <input required type="text" class="form-control" name="customer_full_name"
                               id="customer_full_name"
                               placeholder={{name}}
                               form="order_add_form">
                    </div>
                    <div class="col-md-6 mb-4">
                        {% trans "Phone" as phone %}
                        <label for="customer_phone">{% trans "Customer Phone *" %}</label>
                        <input type="text" id="customer_phone" name="customer_phone" placeholder={{phone}}
                               class="form-control input-medium bfh-phone" data-format="+38 (ddd) ddd-dddd"
                               form="order_add_form">
                    </div>
                </div>

                <hr class="mb-4">
                <h4 class="mb-3">{% trans "Ingredients details:" %}</h4>

                <div class="row align-items-end">
                    <div class="col-md-3 mb-4">
                        <label for="order_ingredient">{% trans "Ingredient *" %}<br>
                            <small class="text-muted">{% trans "(Ingredient | Unit | Cost per 10 units)" %}</small>
                        </label>
                        <select class="custom-select d-block w-100" name="order_ingredient" id="order_ingredient"
                                form="order_add_form">
                            <option selected disabled value="">{% trans "Choose ingredient for order..." %}</option>
                            {% if ingredients %}
                            {% for ingredient in ingredients %}
                            <!--don't format option tag below !!! Otherwise an error will occur -->
                            <option value="{{ ingredient.id }}">{{ ingredient.name }} | {{ ingredient.unit }} |
                                {{ ingredient.cost }}
                            </option>
                            {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <div class="col-md-3 mb-4">
                        {% trans "Quantity" as quantity %}
                        <label for="order_ingredient_quantity">{% trans "Quantity *" %}</label>
                        <input type="number" min="10" max="9999" step="10" class="form-control"
                               id="order_ingredient_quantity" name="order_ingredient_quantity" placeholder={{quantity}}
                               form="order_add_form">
                    </div>
                    <div class="col-md-3 mb-4">
                        {% trans "Cost" as cost %}
                        <label for="order_ingredient_cost">{% trans "Cost *" %}
                            <small class="text-muted">UAH</small>
                        </label>
                        <input readonly type="number" min="0" max="9999" step="0.05"
                               class="form-control"
                               id="order_ingredient_cost" name="order_ingredient_cost" placeholder={{cost}}
                               form="order_add_form">
                    </div>

                    <div class="col-md-3 mb-4">
                        <button type="submit" id="order_ingredient_submit_btn" class="btn btn-primary">
                            {% trans "Add ingredient" %}
                        </button>
                    </div>
                </div>

                <div class="list-group" id="order_ingredient_list_div">
                    <!--div for selected ingredients-->
                    {% for order_ingredient in order_ingredients %}
                    <input type='hidden' form='order_add_form' id='order_ingredient_added'
                           name='order_ingredient_added[]'
                           value='{"name":"{{ order_ingredient.ingredient.name }}", "id":{{ order_ingredient.ingredient.id }},
                        "unit":"{{ order_ingredient.ingredient.unit }}", "quantity":{{ order_ingredient.quantity }},
                         "cost":{{ order_ingredient.cost }}}'>
                    {% endfor %}

                </div>

                <hr class="mb-4">

                <div class="row align-items-end">
                    <div class="col-md-6 mb-4">
                    </div>
                    <div class="col-md-3 mb-4">

                    </div>
                    <div class="col-md-3 mb-4">
                        <label for="{{ form.cost.id }}">{% trans "Total:" %}
                            <small class="text-muted">UAH</small>
                        </label>
                        <input readonly type="number" min="0" max="9999" step="0.05"
                               class="form-control order-total" value="0"
                               id="{{ form.cost.id }}" name="{{ form.cost.name }}" placeholder={{cost}}
                               form="order_add_form">
                    </div>
                </div>

                <hr class="mb-4">

                <button id="add_order_btn" class="btn btn-primary btn-lg btn-block" type="submit" form="order_add_form">
                    {% trans "Place order" %}
                </button>
            </form>
        </div>
    </div>

</div>

{% endblock %}