{% extends "foods/base.html" %}
{% load i18n %}
{% block title %}{% trans "Notes-Note-Add" %}{% endblock %}
{% block content %}

<div class="container">
    <div class="py-5 text-center">
        <h2>{% trans "Note form" %}</h2>
        <p class="lead">{% trans "Below is a form in which you can add a new note." %}</p>
    </div>

    <div class="row">

        <div class="col-md-12 col-xs-12 col-centered">
            <hr class="mb-4">
            <h4 class="mb-3">{% trans "Note details:" %}</h4>
            <p class="text-muted">{% trans "Required Field *" %}</p>

            <form class="needs-validation" id="note_add_form" action="{% url 'note_add' %}"
                  method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    {% trans "Title" as title %}
                    <label for="{{ form.title.id }}">{% trans "Note Title *" %}</label>
                    <input required type="text" class="form-control" name="{{ form.title.name }}"
                           id="{{ form.title.id }}"
                           placeholder={{title}}
                           form="note_add_form">
                </div>

               <div class="mb-3">
                    <label for="{{ form.description.id }}">{% trans "Note Description *" %}</label>
                    <textarea required class="form-control" name="{{ form.description.name }}"
                              id="{{ form.description.id }}"
                              rows="3" form="note_add_form"></textarea>
                </div>

                <hr class="mb-4">

                <button class="btn btn-primary btn-lg btn-block" type="submit" form="note_add_form">
                    {% trans "Add note" %}
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}