{% extends "foods/base.html" %}
{% load i18n %}
{% block title %}{% trans "Notes-Note-View" %}{% endblock %}

{% block content %}

{% if note %}

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            <div class="col-md-8 blog-main">
                <h3 class="pb-3 mb-4 font-italic border-bottom">{{ note.title }}</h3>

                <div class="blog-post">
                    <h3 class="blog-post-title">{% trans " Note description:" %}</h3>
                    <p>{{ note.description }}</p>
                    <p class="blog-post-meta">{{ note.created_on }} {% trans "by" %} <a href="#"></a></p>
                    <hr>
                </div>

                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="#">{% trans "Older" %}</a>
                    <a class="btn btn-outline-secondary disabled" href="#">{% trans "Newer" %}</a>
                </nav>

            </div>

        </div>

    </div>
</div>

{% else %}
<p>{% trans "Note is not found." %}</p>
{% endif %}

{% endblock %}