{% extends "foods/base.html" %}
{% load i18n %}
{% block title %}{% trans "Authentication-Login" %}{% endblock %}
{% block content %}

<div class="container">

    <div class="py-5 text-center">
        <h2>{% trans "Login form" %}</h2>
    </div>

    <div class="row justify-content-center">

        <div class="col-md-6 col-xs-12">

            <form class="form-signin" id="login_form" action="{% url 'login' %}"
                  method="post">
                {% csrf_token %}

                <h1 class="h3 mb-3 font-weight-normal">{% trans "Please to login:" %}</h1>

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{form.non_field_errors}}</div>
                {% endif %}

                <label for="login_name">{% trans "User Name" %}</label>
                {% trans "Name" as name %}
                <input type="text" id="login_name" name="{{ form.username.name }}" class="form-control"
                       placeholder={{name}} required>

                <label for="login_password">{% trans "User Password" %}</label>
                {% trans "Password" as password %}
                <input type="password" id="login_password" name="{{ form.password.name }}" class="form-control"
                       placeholder={{password}} required>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> {% trans "Remember me" %}
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" form="login_form">
                    {% trans "Login" %}
                </button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>

        </div>
    </div>
</div>

{% endblock %}